# Xcode
.DS_Store
*/build/*
*.pbxuser
*.pbxproj
!default.pbxuser
*.mode1v3
*.pbxproj
!default.mode1v3
*.mode2v3
*.pbxproj
!default.mode2v3
*.perspectivev3
*.pbxproj
!default.perspectivev3
*.pbxproj
xcuserdata
*.pbxproj
profile
*.moved-aside
DerivedData
*.pbxproj
.idea/
*.hmap
*.xccheckout
*.pbxproj
#CocoaPods
Pods
